@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto', system-ui, sans-serif;
    scrollbar-width: none;
    @apply scroll-smooth;
  }

  div::-webkit-scrollbar {
    display: none;
  }

  body {
    @apply overflow-scroll overflow-x-hidden bg-violet text-gray-200;
  }

  h1 {
    @apply text-3xl;
  }
  p {
    @apply text-xl;
  }

  th,
  tr,
  td {
    @apply h-6 px-4 py-1 text-left;
  }

  th {
    @apply border-b;
  }

  .no-scroll {
    @apply overflow-hidden;
  }
}

:root {
  overscroll-behavior: none;
}
