@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto', system-ui, sans-serif;
    scrollbar-width: none;
    scrollbar-color: #e5e7eb #334155;
    @apply scroll-smooth;
  }

  body {
    @apply overflow-scroll overflow-x-hidden bg-violet text-gray-200;
  }

  h1 {
    @apply text-3xl;
  }
  p {
    @apply text-xl;
  }

  .no-scroll {
    @apply overflow-hidden;
  }
}

:root {
  overscroll-behavior: none;
}
